body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: salmon;
    font-family: cursive;
}

.container {
    background-color: lightpink;
    width: 480px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, .03)
}

.textarea {
    width: 100%;
    resize: none;
    font-size: 18px;
    height: 100px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgray;
    outline: none;
    cursor: pointer;
}
.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 7px;
}
.counter-container p{
    font-size: 18px;
    color: gray;
}
.total-counter{
    color: orangered;
}
.remaining-counter{
    color: slateblue;
}